

body
{
  margin:0px;
  overflow-x:hidden;
}
.fullstackImage{
  
  width: 70vh;
}
.centerText{
  text-align: center;
}
.margin-auto{
  margin:auto;
}
.flex{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.row
{ 
  position: fixed;
  color: #62929e;
  background-color: #393d3f;
  display: flex;
  height: 75px;
  z-index:100;
  width: 100vw;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
}
.el
{ 
margin-left: 5%;
margin-right: 5%;
}
#projectTitle{
font-size: 5vh;

}

#projectNote{
  font-size: 3vh;
  width: 80vw;
  margin: auto;

}

.social
{
padding-right:5px;
width:30px;
height:30px;
}
.intro
{
  color: #fdfdff;
  font-size: 4vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  
  margin-top:85vh;
  position: absolute; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
  
}
.mainText
{
 
  padding: 10px;
  margin-left: 2vh;
  margin-right: 2vh;
 font-size: 3vh;
 letter-spacing: -.5px;
 line-height: 2em;
}
.nav{
  display:flex;

}
.hamcontainer{
  flex-grow:3;
 display: flex;
 justify-content: flex-start; 
}
.hamburger{

 height: 50px;
 margin: 20px;
}
@media screen and (max-width:950px){
  
.nav ul
{ 
 visibility: hidden;
 font-size: 3vh !important;
}

.toggleMenu{
  visibility: visible !important;
}
.hamMenu{
  height: auto;
  text-align: center;
}
.nav ul li{
  position: relative;
   display: block !important;
}
.hide{
  visibility: hidden !important;
  position: absolute;
}
}
 @media screen and (min-width:950px){
 .hamburger{
   visibility: hidden;
   position: absolute;
 }
 .hamcontainer{
  visibility: hidden;
  position: absolute;
 }
 } 
  .nav ul
{ 
 font-size: 3vh;
  list-style-type:none;
}
.nav ul li
{
  letter-spacing: 3px;
  display: inline !important;
}




.logo
{
  
  height:100%;
  padding-bottom: 20px;
}
.icon
{ 
  

  font-size:2.25em;
   border: 3px solid;
   text-align: center;
   letter-spacing: -2px;
   padding-right: 2px;
}
.main
{ 
  background-color:#9dac93;
  display: flex;
height:100vh;
}
#hi{
  width: 100vw;
}
.col{
  height:30vh;
}
#about
{
  display:flex;
  flex-direction: column;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height:92.5vh;
  background-color: #d6d5c9;
  /*
  d9dbbc slight green 
  d6d5c9
  */
} 

.offset { 
	display: block; 
 	content: " "; 
  	height: 75px;      /* Give height of your fixed element */
        margin-top: -75px; /* Give negative margin of your fixed element */  	
        background-color:red;
        visibility: hidden;
}
a
{
  color:#62929e;
  text-decoration: none;
}

.skillrow{
  padding: 20px;
  margin:auto;
  height:30vh;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  justify-content: center;
  align-items: center;
 
}
.skillcolumn{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  grid-row-gap: 2vw;
  grid-column-gap: 4vw;
}
.skills{
  width:7vh;
  
  height: 7vh;
}

.cert
{
  width: 100%;
  height: 30vh;

}

#portfolio
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #9dac93;
  display: flex;
  flex-direction: column;
  height:calc(92.5vh * 2);
  justify-content: center;
  align-items: center;
}
.fullstack{
  display:flex;
  text-align: left !important;

}
.tech-list{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tech-list li{
width: 250px;
}
.portfolioltr
{

  letter-spacing: 2px;
  font-family: serif;
  font-size: 3.5vh;
}
 
  #currentProject{
    
    display:flex;
    border-radius: 2px;
    height:35vh;
    width:70vh;
   
    }
    .preview
{
  
  height:18vh;
  width:36vh;
border-radius: 1px;
  filter: opacity(70%);
}
.carousel
{
  height:50vh;
  position: relative;
  z-index: 10;
  display:flex; 
  justify-content: center; 
  align-items: center;
 
}
@media screen and (max-width:960px){

.preview{
   position: absolute;
  visibility: hidden !important;
}
#currentProject{
  z-index:4;
  height:35vh;
  margin: 0px;
}

#about{
  height:185vh;
}
.skillrow{
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 4fr;
  grid-gap: 0px;

}
}
@media screen and (max-width:500px){
#currentProject{
  width:90vw;
  height:auto;
}

h3.skills{
  visibility: hidden;
}
.social{
  visibility: hidden;
}
.carousel{
  height:20vh !important;
}

} 


.portfolioTitle
{
  height:15vh;
 display: flex;
 flex-direction: column;
justify-content: center;
align-items:center;


}
.note
{
 
  font-size: 3vh;
  text-align: center;
}

.bounds{
  z-index: 3;
padding: 40px;
}
.blockPosition{
  display: block;
}

  

#forward{
  position:absolute;
  padding-right:40px;
  margin-left:-132px;
  transform: translateY(-70px); 
text-align: right;


}
#forward:hover{

}

#back{ 
  position:absolute;
  padding-left:30px;
  transform: translateY(-70px);
  vertical-align:middle;
  text-align:left;
 
}



.carouselControl
{
height:100px;
width:100px;
cursor: pointer;
  z-index: 1;
  color: black;
  font-size:48px;
}

.controldim{
 filter: opacity(50%);
}
.controldim:hover{
  filter:none !important;

  text-shadow: 0em 0em 0.2em white;
}
.unselectable
{
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

#contact
{
  background-color:#d6d5c9;
  flex-direction: column;
  display:flex;
  height:100vh;
  justify-content: flex-start;
  align-items: center;
}
.blocktext{ 
  font-family: inherit;
  font-size: inherit;
 display:block;
 width:40vw;
 min-width:15em;
 height:20vh;

}

label{
  margin:10px;
}
textarea{
  border-radius: 3px;
}
input{
  font-family: inherit;
  font-size: inherit;
  border-radius: 3px;
}
form{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
 align-items: flex-start;
 flex-direction: column;
  font-size: 3vh;
}
.contactblurb{
font-size: 3vh;

}

