.radio{
  width: 13px;
  height: 13px;
  padding: 0px;
  background-color: black;
  border: 1px solid;
  border-radius: 180px;
  margin: 20px;
}
.slideShow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}
.about :nth-child(1){
    background-color: white;
   }
   .projects :nth-child(2){
    background-color: white;
   }
   .contact :nth-child(3){ 
    background-color: white;
   }